# my.cnf for mysql-5.7.x
[mysqld]
basedir=/usr/local/mysql
datadir=/usr/local/mysql/data
plugin-dir=/usr/local/mysql/lib/plugin
user=mysql
socket=/tmp/mysql.sock
character-set-server=utf8
max_connections=20

[mysqld_safe]
log-error=/usr/local/mysql/logs/mysqld.log
